.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}
.header_sign_in_button_alignment {
    padding-top: 20px;
}

.signin_button {
    border-radius: 50px;
    width: 100px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.navigation {
    text-align: center;
    background-color: #4caeff;
}

.navigation a{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation li{
    float: none;
    display: inlibe-block;
}

.news {
    margin-top: 15px;
    margin-bottom: 30px;
}

.logotype {
    width: 312px;
    height: 73px;
}

.padding_border {
    padding: 20px 0px;
}


.search_bar {
    width: 80%;
    margin: 0px;
}

.magnifier {
    padding-right: 60px;
    background: url(../img/magnifier.png) no-repeat 95% 50%;
}

.search_bar input{
    border-radius:50px;
    border: solid black 1px;
    height: 50px;
}

.title h1{
    margin-left: 30px;
    padding: 15px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

.vidgets {
    width: 100%;
}

.second_news_text_properties {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 17px;
}

.time {
    font-size: 12px;
    color: dodgerblue;
}

.today {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
}

.time_today {
    font-size: 10px;
    color: dodgerblue;
}

.allNews {
    font-weight: bold;
    font-size: 12px;
    color: dodgerblue;
    text-decoration: underline;
}

.allNews:hover{
    font-weight: bold;
    font-size: 12px;
    color: dodgerblue;
    text-decoration: underline;
}

.allNews:visited{
    color: dodgerblue;
    text-decoration: underline;
}

.nav.list.nav-pills {
    font-size: 10px;
    border: solid #4286f4 1px;
}

.nav-item {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 10px;
}

.nav-pills .nav-link{
    border-radius: 0px;
    color: black;
    padding: 10px 3px 10px 3px;
}

.nav-pills .nav-link.active {
    background-color: #77dbff;
    color: black;
}

.third {
    margin-top: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: black;
    line-height: 13px;
}

.carousel-control-next {
    opacity: 1;
    margin-right: -30px;
    margin-top: 80px;
    width: 65px;
    height: 70px;
}

.carousel-control-prev {
    opacity: 1;
    margin-left: -30px;
    margin-top: 80px;
    width: 65px;
    height: 70px;
}

.carousel-control-next-icon {
    opacity: 1;
    width: 65px;
    height: 70px;
    background-image: url(../img/arrowRight.png);
}

.carousel-control-prev-icon {
	width: 65px;
	height: 70px;
    background-image: url(../img/arrowLeft.png);
}

.slide_shell_date_alignment {
    padding: 0 0 0 0;
    right: 0px;
    left: 16px;
    bottom: 205px;
    z-index: 0;
    width: 65px;
}

.slide_shell_date {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 11px;
    width: 65px;
    height: 23px;
    padding-top: 3px; 
    padding-left: 15px; 
    background-color: red;
    text-align: start;
    vertical-align: middle;
}

.description_alignment {
    padding: 0 0 0 0;
    right: 0;
    left: 24px;
    bottom: 40px;
    z-index: 0;
    width: 240px;
    text-align: start;
}

.carousel_slide_description {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: white;
}

.carousel_slide_background {
    background-color: black;
    opacity: 0.7;
}

.more_alignment {
    padding: 0 0 0 0;
    right: 0;
    left: 30px;
    bottom: 20px;
    z-index: 0;
    width: 60px;
    text-align: start; 
}
.more:link {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 10px;
    color: white;
    text-decoration: none;
}

.more:hover {
    color: white;
    text-decoration: none;
}

.more:visited {
    color: white;
    text-decoration: none;
}

.categories {
    margin-bottom: 50px;
}

.tourism {
    width: 325px;
    height: 230px;
}

.tourism_p_properties p{
    position: absolute;
    top: 125px;
    left: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: white;
}

.photo_p_properties p{
    position: absolute;
    top: 90px;
    left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: white;
    line-height: 60px;
}

.beauty_p_properties p{
    position: absolute;
    top: 20px;
    left: 180px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    line-height: 40px;
}

.weddings_p_properties p{
    position: absolute;
    top: 20px;
    left: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: white;
    line-height: 40px;
}

.menu_p_properties p{
    position: absolute;
    top: 375px;
    left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: white;
}

.photos {
    width: 474px;
    height: 230px;
}

.beauty {
    width: 400px;
    height: 230px;
}

.weddings {
    width: 400px;
    height: 230px;
}

.menu {
    height: 475px;
}

.footer {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: black;
}

*,*:before, *:after {
    box-sizing: border-box;
}

figure p {
    transition: 0.2s;
    transform: translateY(0);
}

figure:hover p{
    transform: translateY(20px);
}

.afisha_header {
    padding-left: 2%;
    padding-top: 3%;
    background: url(../afisha/img_afisha/afisha_background.png) no-repeat 50% 50%;
}

.afisha_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 165px;
    color: white;
    line-height: 165px;
    margin-bottom: 0;
}



.authorization_vk_button_alignment {
    padding-top: 2%;
    padding-bottom: 1%;
}

.authorization_vk_button {
	font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 22px;
    color: white;		
    width: 283px;
    height: 56px;
    border: 3px solid white;
    border-radius: 30px;
}

.afisha_navigation_alignment {
    padding-top: 4%;
    padding-left: 3%;
    background-color: #0e2c3e;
}

.afisha_navigation_links a{
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

/* МОЁ */
.afisha_navigation_links_current{
    border-bottom: 5px solid white;
}

.afisha_navigation_links a:hover{
    border-bottom: 5px solid white;
}

.afisha_navigation_links a:active{
    border-bottom: 5px solid white;
}

.afisha_popular_events_title_alignment {
    margin-top: 4%;
    margin-bottom: 2%;
}

.afisha_popular_events_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color: black;
    margin-bottom: 0;
}

.afisha_sliders_alignment {
    padding-left: 3%;
    padding-right: 3%;
}

.afisha_carousel_control_next {
    margin-right: -40px;
    margin-top: 45px;
    width: 95px;
    height: 95px;	
}

.afisha_carousel_control_prev {
    margin-left: -40px;
    margin-top: 45px;
    width: 95px;
    height: 95px;	
}

.afisha_carousel_control_next_icon {
    opacity: 1;
    width: 100px;
    height: 100px;	
    background-image: url(../img/arrowRight.png);
}

.afisha_carousel_control_prev_icon {
    opacity: 1;
    width: 100px;
    height: 100px;	
    background-image: url(../img/arrowLeft.png);
}

.afisha_slide_shell_date {
    position: absolute;
    right: 95px;
    bottom: 115px;
    width: 81px;
    height: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 13px;
    color: white;
}

.afisha_slide_shell {
    position: absolute;
    right: 95px;
    bottom: 120px;
    opacity: 0.6;
    width: 81px;
    height: 28px;
    background-color: #0e2d42;
}

.afisha_carousel_slide_description {
    height: 30%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    color: white;
}

.afisha_carousel_slide_discription_background {
}

.afisha_more:link {
    position: absolute;
    top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: white;
}

.afisha_more:hover {
    color: white;
    text-decoration: none;
}

.afisha_more:visited {
    color: white;
}

.afisha_upcoming_events_title_alignment {
    margin-top: -5%;
    margin-bottom: 2%;
}

.afisha_upcoming_events_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color: black;
    margin-bottom: 0;
}

.afisha_left_col_alignment {
    padding-top: 30px;
}


.menu_left_col_alignment {
    padding-top: 30px;
}

.menu_links_alignment {
    padding-top: 120px;
}


.afisha_calendar_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: black;
    text-align: center;
}

.afisha_news_title h1{
    padding-top: 30px;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color: black;
    margin-bottom: 0;
}

.afisha_news_list {
    padding-top: 20px;
}

.afisha_news_list p{
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}

.footer_alignment {
    padding-top: 30px;
}

.afisha_cinema_title_alignment {
    padding-top: 2%;
    padding-left: 4%;
}

.afisha_cinema_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 70px;
    color: black;
}

.afisha_cinema_content_alignment {
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
}

.afisha_cinema_film_explain p{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    color: #455268;
}

.afisha_cinema_film_explain a{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 13px;
    color: black;
    text-decoration: underline;
}

.afisha_cinema_film_image {
    position: relative;
    display: block;
}

.afisha_cinema_ticket {
    position: absolute;
    top: 5%;
    left: 85%;
}

.afisha_parties_event_explain p{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 17px;
    color: black;
}

.afisha_parties_event_explain a{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 13px;
    color: black;
    text-decoration: underline;
}

.afisha_party_event_explain {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}

.afisha_party_font_properties h2{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    color: black;
}

.afisha_party_font_properties p{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: black;
}

.afisha_party_font_properties a{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 16px;
    color: black;
    text-decoration: underline;
}

.afisha_party_block_alignment {
    padding-left: 3%;
}

.afisha_party_row_alignment {
    margin-top: 7%;
}

.ad_alignment{
    padding-top: 11%
}

.menu_header {
    padding-left: 2%;
    padding-top: 3%;
    background: url(../menu/img_menu/menu_background.png) no-repeat 50% 50%;
}

.menu_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 165px;
    color: white;
    line-height: 165px;
    margin-bottom: 0;
}

.menu_navigation_alignment {
    padding-top: 4%;
    padding-left: 3%;
    background-color: #1f5f3c;
}

.menu_navigation_links a{
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
}

.menu_navigation_links a:hover{
    border-bottom: 5px solid white;
}

.menu_navigation_links a:active{
    border-bottom: 5px solid white;
}

.menu_sliders_alignment {
    padding-left: 3%;
    padding-right: 3%;
}

.menu_fastfood_title_alignment {
    margin-top: 4%;
    margin-bottom: 2%;
}

.menu_restourants_tab_alignment {
    margin-top: 4%;
    margin-bottom: 2%; 
}

.menu_fastfood_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 60px;
    color: black;
    margin-bottom: 0;
}

.menu_fastfood_news_title_alignment {
    margin-top: 4%;
    margin-bottom: 2%;
}

.menu_carousel_control_next {
    margin-right: -40px;
    margin-top: 45px;
    width: 95px;
    height: 95px;	
}

.menu_carousel_control_prev {
    margin-left: -40px;
    margin-top: 45px;
    width: 95px;
    height: 95px;	
}

.menu_carousel_control_next_icon {
    opacity: 1;
    width: 100px;
    height: 100px;	
    background-image: url(../img/arrowRight.png);
}

.menu_carousel_control_prev_icon {
    opacity: 1;
    width: 100px;
    height: 100px;	
    background-image: url(../img/arrowLeft.png);
}

.menu_carousel_slide_name {
    height: 30%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: white;
}

.menu_carousel_slide_discription_background {
}

.menu_carousel_slide_news_header {
    height: 30%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-align: left;
    color: white;
}

.menu_more:link {
    position: absolute;
    top: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 11px;
    color: white;
}

.menu_more:hover {
    color: white;
    text-decoration: none;
}

.menu_more:visited {
    color: white;
}

.menu_fastfood_news_title h1{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 64px;
    color: #1f5f3c;
    margin-bottom: 0;
}

.menu_restourants_tab_alignment{
    padding-top: 0mm;
    padding-left: 4%;
}

.menu_restourants_singletab_alignment{
    padding-top: 2%;
    padding-left: 4%;
}

.menu_restourants_name_alignment{
    padding-top: 1%;
}

.menu_restourants_name{
    font-family: 'Roboto', sans-serif;
    color: #1f5f3c;
    font-weight: bold;
    font-size: 16px;
}

.menu_restourants_info_alignment{
    padding-top: 4%;
}

.menu_restourants_info{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 10px;
}

.menu_restourants_more_alignment{
    padding-top: 2%
}

.menu_restourants_more{
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 10px;
}

.menu_page_btn{
    border-color: black;
    font-size: 12;
    border-radius: 0;
    width: 25;
    height: 25;
    padding: 0;
    color: black;
}
.menu_page_btn_active{                                           
    background-color: #1f5f3c;                                          
}

.menu_page_btn_disable{
    background-color: white;                                            
}

.menu_restourants_btn_alignment{
    padding-top: 5%;
    padding-left: 4%;
}